@font-face {
    font-family: 'Qanelas';
    src: url('Qanelas-Black.woff2') format('woff2'),
        url('Qanelas-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Qanelas';
    src: url('Qanelas-Bold.woff2') format('woff2'),
        url('Qanelas-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Qanelas';
    src: url('Qanelas-Regular.woff2') format('woff2'),
        url('Qanelas-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

